::-webkit-scrollbar {
    display: none;
}

body{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px 200px auto 50px;
    grid-gap: 15px;
    background-image: url("/websiteHosting/BildereHosting/Bilder/fixxeBilder/Wood.jpg");
}
h1, h2, h3, h4, h5, h6{
    font-family: "modern Love", serif;
    margin: 0;
    margin-bottom: 10px;
}
.menuSchrift{
    color: white;
}
h1{
    margin-top: 50px;
}
header, main, .news, footer{
    border: 3px solid black;
}
header, main, .news, .menu, footer{
    border-radius: 10px;
    font-family: "Tahoma", serif;
    padding: 2px;
}
header{
    grid-row: 1;
    grid-column: 1 / span 2;
    font-size: 40pt;
    background-color: rgba(143,170,220,1);
    background-image: url("../Bilder/fixxeBilder/wasserfaelle.png");
    background-size: cover;
    background-position: center;
}
.logo{
    display: inline;
    float: right;
    transform: scale(1.5);
    padding-top: 30px;
    padding-right: 30px;
}
main{
    grid-row: 2 / span 2;
    grid-column: 2;
    background-image: url("/websiteHosting/BildereHosting/Bilder/fixxeBilder/Rainforest.jpg");
    color: white;
}
.news{
    grid-row: 3;
    grid-column: 1;
    background-color: rgba(248,203,173,1);
}
.menu{
    grid-row: 2;
    grid-column: 1 ;
}
aside a {
    color: black;
    text-decoration: none;
}
footer {
    grid-row: 4;
    grid-column: 1 / span 2;
    background-color: #c5e0b4;
}

.mainEmail, .mainTel{
    color: white;
}

.spielen{
    color: white;
    text-decoration: none;
}

/**Slideshow css*/
button{
    width: 190px;
    text-align: left;
    background-color: rgba(197,224,180,1);
    margin: 2px;
    border-radius: 7px;
}
aside button:hover{
    transition-duration: 0.5s;
    transform: scale(1.05,1.05);
    box-shadow: 2px 2px 5px black;
}
main form {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 200px 500px;
    grid-gap: 10px;
}
main form input, main form label {
    line-height: 30px;
}
main form textarea {
    height: 200px;
}
input[type="submit"] {
    color: rgb(250, 250, 250);
    background: rgb(14, 72, 120);
    font-size: 12pt;
    font-weight: bold;
    box-shadow: 5px 5px 5px grey;
    cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:active {
    background: lightskyblue;
    box-shadow: 5px 5px 5px grey;
}

/**Table css*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c5e0b4;
}